doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Demo
    body
        div#root
        script(type="text/javascript", src="http://localhost:8080/static/bundle.js")
        script(type="text/javascript", src="/js/vendors.js")
        script(type="text/javascript", src="/js/index.js")
